* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: SpotifyMixUI, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic";

}

.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
    margin: 20px 0px;
    position: relative;
}

.logo {
    height: 50px;
    width: 318px;
}

.home ul li {
    width: 15px;
    gap: 10px;
    list-style: none;
    display: flex;
    padding-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

.library {
    min-height: 80vh;
    position: relative;

}

.heading {
    width: 15px;
    gap: 10px;
    display: flex;
    padding-top: 10px;
    align-items: center;
}

.heading img {
    width: 20px;
    height: 20px;
}

.heading h4 {
    white-space: nowrap;
    width: auto;
    font-size: 14px;
}

.footer {
    gap: 15px;
    white-space: nowrap;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
}

.footer a {
    color: gray;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.right span img {
    margin-top: 10px;
}

.right img {
    width: 18px;
    height: 18px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(36, 31, 31);
    border-radius: 10px;

}

.header-left .hamburger {

    display: none;
}

.header-left span img {
    height: 30px;
    width: 20px;
}

.close {
    height: 50px;
    width: 40px;
    position: absolute;
    left: 300px;
    top: 38px;
    display: none;
}

.login {
    border-radius: 15px;
    margin: 10px;
    padding: 10px 27px;
    background-color: black;
    color: white;
    border: none;
    font-size: 16px;
}

.signup {
    border-radius: 15px;
    margin: 10px;
    padding: 10px 27px;
    border: none;
    font-size: 16px;
}

.login:hover {
    transition: ease;
    transition-duration: 0.5s;
    background-color: white;
    color: black;
    cursor: pointer;
}

.signup:hover {
    transition: ease;
    transition-duration: 0.5s;
    background-color: #121212;
    color: white;
    cursor: pointer;
}

.spotifyPlaylist {
    padding: 15px;
}

.nds a {
    text-decoration: none;
    color: white;
}

.cardcontainer {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0px;
    max-height: 70vh;
    overflow: scroll;
    position: relative;
}

.spotifyPlaylist .card {
    margin: 20px 7px;
    width: 18%;
    height: auto;
    position: relative;

}

.card img {
    height: 150px;
    width: 150px;
    border-radius: 10px;
    object-fit: contain;
    display: block;
    margin: auto auto;
    margin-top: 17px;
    position: relative;

}

.card h2 {
    margin-bottom: 10px;
    text-align: center;
}

.card p {
    color: gray;
    text-align: center;
    margin-bottom: 17px;
}

.card:hover {
    background-color: #252525;
    border-radius: 10px;
    transition: 1s ease;
    opacity: 1;
    .circle-btn{
        opacity: 1;
    }

}

.circle-btn {
    width: 40px;
    height: 40px;
    background: rgb(55, 141, 55);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    bottom: 90px;
    right: 25px;
    z-index: 1;
    opacity: 0;
    transition: all 1s ease-out;
    
}

.circle-btn svg {
    width: 24px;
    height: 24px;
    fill: white;
    /* Makes the icon white */
}

.circle-btn:hover {
    opacity: 1;
    transition: all 2s ease-out;
}

.playbar {
    position: absolute;
    bottom: 15px;
    background-color: rgb(36, 31, 31);
    padding: 15px 10px;
    width: 100%;
    margin-bottom: 50px;
    border-radius: 10px;
}

.songbutton {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.songlist {
    max-height: 60vh;
}

.songlist ul {
    padding: 12px 18px;
}

.songlist ul li {
    list-style-type: decimal;
    display: flex;
    gap: 20px;
    margin: 14px 0px;
    cursor: pointer;
    border: 2px solid rgb(98, 59, 59);
    border-radius: 10px;
    padding: 5px;
    overflow: scroll;

}

.list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px;
    border: 1px solid #333;
    border-radius: 12px;
    margin-bottom: 12px;
    gap: 12px;

}

.songlist ul {
    overflow: scroll;
    max-height: 60vh;
}

.info {
    display: flex;
    flex-direction: column;
    line-height: 1.2;
    flex: 1;
}

.playnow {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.playnow span {
    white-space: nowrap;
}

.seekbar {
    height: 5px;
    width: 100%;
    background: white;
    border-radius: 10px;
    margin-bottom: 10px;
    position: relative;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 15px;
    background-color: black;
    position: absolute;
    bottom: -3px;
    left: 0;
    transition: left 1s;
}

.songbutton img {
    cursor: pointer;
}

.rigth .playbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 85px;
    background: #121212;
    border-top: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    box-sizing: border-box;
    color: white;
    z-index: 999;
}


.songinfo {
    width: 25%;
    font-size: 14px;
    margin-bottom: 20px;
}


.seekbar {
    width: 100%;
    height: 4px;
    background: #333;
    position: relative;
    border-radius: 50px;
    cursor: pointer;
}

.circle {
    width: 14px;
    height: 14px;
    background: #1db954;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
    transition: left 0.1s linear;
}

.songbutton {
    display: flex;
    align-items: center;
    gap: 20px;
}

.songbutton img {
    width: 28px;
    cursor: pointer;
    filter: invert(1);
    transition: transform .2s;
}

.songbutton img:hover {
    transform: scale(1.15);
}


.songtime {
    width: 15%;
    text-align: right;
    font-size: 14px;
    position: absolute;
    right: 20px;
    top: 1px;
    margin-top: 15px;

}


/* @media (max-width:1200px) {
    .left {
        position: absolute;
        width: 30vw;
        background-color: black;
        left: -100%;
        transition: all ease 2s;
        z-index: 1;
    }

    .right {
        width: 60vw;
        height: 100vh;
    }

    .container .playbar {
        width: 100vw;
        position: absolute;
        bottom: 0px;
        margin: 0px auto;
    }

    .header-left .hamburger {
        display: block;
        margin: 0px 30px;
        align-items: center;
        height: 30px;
        width: 30px;
    }

    .header-left .arrow {
        display: none;
    }

    .close {
        position: absolute;
        right: 129px;
    }


} */


@media (max-width: 1200px) {

  
    .left {
        width: 70vw !important;
        position: fixed;
        left: -100%;
        top: 0;
        height: 100vh;
        background: black;
        z-index: 9999;
        padding: 25px;
        transition: left .3s ease-in-out;
        overflow-y: auto;
    }

    
    .close {
        display: block !important;
        position: absolute;
        top: 20px;
        right: 20px;
        left: auto !important;
    }


    .header-left .hamburger {
        display: block !important;
        width: 30px;
        height: 30px;
        cursor: pointer;
        margin-left: 10px;
    }

    .header-left span img {
        display: none;
    }

    .right {
        width: 100vw !important;
        margin: 0;
    }

  
    .spotifyPlaylist {
        width: 30% !important;
    }
}


@media (max-width: 900px) {

 
    .spotifyPlaylist .card {
        width: 45% !important;
    }


    .playbar {
        position: fixed !important;
        left: 0;
        bottom: 0;
        width: 100%;
        margin: 0;
        border-radius: 0;
        padding: 12px;
        z-index: 9999;
    }

  
    .seekbar {
        width: 90% !important;
        margin: 8px auto;
    }

 
    .songbutton {
        gap: 15px;
        margin-top: 6px;
    }

  
    .songlist ul li {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}


@media (max-width: 600px) {

    
    .left {
        width: 85vw !important;
    }

    
    .spotifyPlaylist .card {
        width: 90% !important;
        margin: 10px auto !important;
    }

    .card img {
        width: 120px !important;
        height: 120px !important;
    }


    .signup,
    .login {
        padding: 6px 12px !important;
        margin: 5px !important;
        font-size: 14px !important;
    }
}

@media (max-width: 450px) {

    .card img {
        width: 100px !important;
        height: 100px !important;
    }

    .songbutton img {
        width: 22px !important;
    }

    .circle {
        width: 12px !important;
        height: 12px !important;
    }

    
    .header {
        padding: 8px !important;
    }
}
