.border{
    border: 2px solid red;
    margin: 10px;
    border-radius: 7px;
}
.flex{
    display: flex;
}
.p-1 {
    padding: 10px;
}
.align-item{
    align-items: center;
}
.justify-content{
    justify-content: center;
}
.bg-black{
    background-color: black;
    color: white;
}
.invert{
    filter: invert(1);
}
.bg-grey{
    background-color: #121212;
}
.rounded{
    border-radius: 7px;
}
.m-1{
margin: 10px;
}
.invert-1{
    filter: invert(0.5);
}
.play{
    height: 30px;
    width: 30px;
}
